.search-bar-wrapper {
  position: relative;
  display: inline-block;
  border: 0.1em lightgray solid;
  border-radius: 5px;
  margin-left: 0.5em;
}


.searchbar, .icon {
  padding: 0.25em;
  margin: 0.25em;
}

input {
  outline: 0px;
  border: 0px;
}

.icon {
  background-color: cornflowerblue;
  color: aliceblue;
  border-radius: 5px;
  outline: 0em;
  border: 0em;
  font-size: medium;
  opacity: 0.8;
}

.autosuggestion-bullet {
  z-index: 99;
  flex: 1 1;
  background-color: white;
  color: black;
  list-style-type: none;
  text-align: left;
  padding: 0.25em;
  margin-left: 0.25em;
}

.autosuggestion-bullet:hover {
background-color: lightcyan;
color: black;
}

.autosuggestion-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
