.search-bar-wrapper {
  display: inline-block;
  padding: 1em;
}

.searchbar, .icon {
  padding: 0.25em;
  margin: 0.25em;
  margin-right: 0.25em;
}

.icon {
  background-color: cornflowerblue;
  color: aliceblue;
  border-radius: 5px;
  outline: 0em;
  border: 0em;
  font-size: medium;
  opacity: 0.8;
}